.addCardBox{
  color:white;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  max-width: 1000px;
}

.popMenuX{
  position: relative;
  right: -60px;
}

.addBookSubTitle{
  color: #77dddd;
  font-weight: 800;
  padding-top: 30px;
}

.nowBookBlock{
 background-color: #24293c;
  width: 100%;
  height: 80px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selectBlock{
  background-color: #24293c;
  width: 40%;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  line-height: 80px;
  margin-top: 20px;
  position: absolute;
  top: 140px;
  display: block;
  left: 30%;
}

.selectBlockX,.bookSelectOpt,.selectBlockSend{
  position: absolute;
  cursor: pointer;
}

.bookSelectOpt{
  top: 20px;
  left: 30px;
  background: rgb(0,0,0,0);
  color: white;
  border-color: white;
  border-style: solid;
}

.selectBlockSend{
  border-style: solid;
  top: 19px;
  left: 450px;
  width: 50px;
  border-width: 1px;
  line-height: 19px;
}

.addWordBlocks{
  background-color: #24293c;
  border-radius: 5px;
  text-align: center;
  line-height: 80px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 190px;
  display: flex;
  padding: 15px 5px 0px 20px;
}




.upper,.mid{
  display: flex;
  align-items: center;
}

.word,.meaning,.synonyms,.antonym{
  width: 50%;
  margin-bottom: 10px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.word>div,.meaning>div,.synonyms>div,.antonym>div{
  line-height: 20px;
  font-weight: 100;
  font-size: 14px;

}

.addWordBlocks{
  display: flex;
  padding-top: 15px;
}

.word{
  line-height: 40px;
}

.word>input,.meaning>textarea,.synonyms>textarea,.antonym>textarea{
  width: 90%;
  background-color: rgb(0,0,0,0);
  border-style: solid;
  border-color: white;
  color: white;
  padding: 5px;
  font-size: 16px;
}

.meaning>textarea,.synonyms>textarea,.antonym>textarea{
  cursor: text;
  border-color: grey;
}

.word>input{
  font-size: 20px;
  border-width: 0px;
  border-bottom-width: 2px;
  padding: 0px;
}

.word>input:focus{
  border-bottom-color: orange;
}

.meaning>textarea:focus,.synonyms>textarea:focus,.antonym>textarea:focus{
  border-color: orange;
}

.searchPopMenu{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #24293c;
  width: 150px;
  box-shadow: 0px 0px 5px orange;
  top: 65px;
  left: 2.5%;
}

.addWordBlocks{
  position: relative;
}

.sendBox{
  width: 100%;
  margin-top: 20px;
  height: 60px;
  border-radius: 5px;
}

.viewCard{
  width: 100%;
  margin-top: 20px;
  height: 60px;
  border-radius: 5px;
  background-color: #77dddd;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

.sendCard{
  background-color: rgb(0,0,0,0);
  border-style: none;
  width: 100%;
  font-size: 18px;
  color: white;
  line-height: 60px;
  cursor: pointer;
}

.cited{
  padding: 20px 0px 50px;
  margin: auto;
  color: grey;
}


.searchPopMenu>li{
  line-height: 20px;
}

.searchPopMenu>li:not(:first-child):hover{
  background-color:orange;
}

.moreWordsBlock{
  background-color: #24293c;
  width: 100%;
  height: 80px;
  border-radius: 5px;
  text-align: center;
  line-height: 80px;
  margin-top: 20px;
}

.moreWords{
  cursor: pointer;
}

.moreWords:hover{
  color:orange;
}

@media (max-width: 1000px) {

.selectBlock{
  width: 50%;
  left: 20%;
}

}

@media (max-width: 760px) {

.upper, .mid{
  flex-direction: column;
}

.word > input{
  font-size: 16px;
}

.word > input, .meaning > textarea, .synonyms > textarea, .antonym > textarea{
  width:100%;
  margin-top: 20px;
}

.word, .meaning, .synonyms, .antonym{
  width: 80%;
}

.addWordBlocks{
  padding: 0px;
  height: 440px;
}

.searchPopMenu{
  top: 55px;
  left: 10%;
}

.word{
  margin-top: 10px;
}

.selectBlock{
  width: 80%;
  height: 60px;
  top: 140px;
  left: 10%;
}

.bookSelectOpt{
  top: 10px;
  left: 30px;
  width: 200px;
}

.selectBlockSend{
  top: 35px;
  left: 100px;
  width: 50px;
}

}