.addCardBox{
    margin: auto;
    display: grid;
    grid-template-columns: 2.2fr 1fr 1.3fr;
    grid-template-rows: 0.5fr 0.7fr 0.8fr 1fr 0.3fr;
    /* background-color: white; */
    width: 70%;
    height: 600px;
    max-width: 1100px;
    margin-top:15px;
}

.searchForm{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(254, 255, 240);
    border-radius: 5px;
    margin: 0 15px;
}

.nowBookBlock{
      grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(255, 242, 239);
    border-radius: 5px;
    margin: 0 15px 0 0px;
}

.word{
  grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(248, 255, 245);
    border-radius: 5px;
    margin: 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    
}

.word>input{
  border-width: 0px;
  background-color: rgba(255, 0, 0, 0);
  border-bottom-width: 1px;
  font-size: 20px;
  padding: 5px;
  width: 300px;
  margin-left: 10px;
  font-weight: 300;
}

.word>div{
  font-size: 35px;
}



.meaning{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(227, 238, 235);
    border-radius: 5px;
    margin: 15px 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.meaning>div{
  font-size: 25px;
}

.meaning>textarea{
  background-color: rgba(255, 0, 0, 0);
    font-size: 20px;
    padding: 0px;
    font-weight: 300;
    margin: 0 0 5px 0;
}


.synonyms{
  grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(244, 240, 234);
    border-radius: 5px;
    margin: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.synonyms>div{
  font-size: 25px;
}

.synonyms>textarea{
  background-color: rgba(255, 0, 0, 0);
    /* border-bottom-width: 1px; */
  font-size: 20px;
  padding: 5px;
  width: 250px;
  font-weight: 300;
}

.antonym{
  grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(233, 233, 220);
    border-radius: 5px;
    margin: 15px 15px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.antonym>div{
  font-size: 25px;
}

.antonym>textarea{
  background-color: rgba(255, 0, 0, 0);
    /* border-bottom-width: 1px; */
  font-size: 20px;
  padding: 5px;
  width: 250px;
  font-weight: 300;
}

.cited{
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    /* padding: 0px; */
    /* font-family: "Ubuntu", Arial, Helvetica, sans-serif; */
    /* list-style: none; */
    /* text-decoration: none; */
    background-color: rgb(225, 235, 227);
    border-radius: 5px;
    margin: 0 15px;
}

.sendBox{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: orange;
    border-radius: 5px;
    margin: 0 15px 0 0;
}

.nowBookBlock{
      color: black;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
}

.searchForm>input{
      border-width: 0;
    background-color: #fefff0;
    font-size: 30px;
    margin: 0px auto 5px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-width: 1px;
}

.explain{
  margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: dimgray;
    padding-bottom: 5px;
}

.cited{
  font-weight: 100;
    font-size: 16px;
    padding: 10px;

}

.sendCard{
  border-width: 0;
  display: flex;
  margin: auto;
  cursor:pointer;
  padding: 5px;
  font-size: 25px;
  border-radius: 5px;
  color: white;
  white-space: normal;
  background-color: rgb(0,0,0,0);
}



@media (max-width: 1000px) {

.addCardBox{
  grid-template-columns: 2.5fr 1fr 1.9fr;
}

}

@media (max-width: 768px) {

.addCardBox{
  grid-template-columns: 100%;
  grid-template-rows: 3fr 1.2fr 1.2fr 1.7fr 1.5fr 1.5fr 0.8fr 0.5fr;
  width: 70%;
  height: 900px;
}

.nowBookBlock{
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 5px;
    margin:0px 0 15px 0;
}


.explain{
  font-size: 14px;
  padding-bottom: 5px;
}

.searchForm{
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 5px;
    margin:0px 0 15px 0;
}

.word{
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    border-radius: 5px;
    margin:0px 0 15px 0;
    
}


.meaning{
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    border-radius: 5px;
    margin:0px 0 15px 0;
}

.synonyms{
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    border-radius: 5px;
    margin:0px 0 15px 0;
}


.antonym{
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    border-radius: 5px;
    margin:0px 0 15px 0;
}

.sendBox{
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    border-radius: 5px;
    margin:0px 0 15px 0;

  }

.cited{
  grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
    border-radius: 5px;
    margin:0px 0 15px 0;
}




}


@media (max-width: 500px) {

  .searchForm > input{
    font-size: 18px;
    width: 200px;
}

  .word{
    flex-direction: column;
  }

  .word>div{
    font-size: 20px;
    margin-top: 10px;
  }

   .word>input{
     width: 160px;
    margin: 0 0 10px 0;
   }

   .meaning > div {
    font-size: 20px;
}

.meaning >textarea{
  width: 150px;
  font-size: 16px;
}

  .synonyms > div {
    font-size: 20px;
}

.synonyms >textarea{
  width: 150px;
  margin-bottom: 5px;
  font-size: 16px;
}

  .antonym > div {
    font-size: 20px;
}

.antonym >textarea{
  width: 150px;
  margin-bottom: 5px;
  font-size: 16px;
}

.sendCard{
  font-size:16px;
}

}