.bookDetailBody{
  color: white;
  width: 80%;
  margin: auto;
  max-width: 1000px;
  
}

#wordBlock{
  display:flex;
  justify-content: space-between;
}

.bookDetailTitle{
  text-align: center;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 0px;
}

.wordSub{
  color: #3ccfcf;
  font-weight: 600;
}

.upperPart{
  display: flex;
  justify-content: space-between;
  padding: 30px 0 15px 0;
  width: 80%;
  margin: auto;
}

.takeQuizBtn{
    font-size: 16px;
    background-color: orange;
    border-radius: 3px;
    padding: 8px 10px;
    color: #303545;
    text-align: center;
    line-height: 22px;
    margin-bottom: 0px;
    width: 100px;
    margin-top: 15px;
    transition: 0.5s;
    cursor: pointer;
      }

.noWordsBlock{
  width: 80%;
    margin: auto;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 50px;
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.noWordsTitle{
  color: white;
    font-size: 30px;
}

.noWordBtn{
  color: #303545;
    margin-top: 30px;
    background-color: #3ccfcf;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    transition:0.5s;
}

.noWordSubTitle{
      color: white;
    font-weight: 200;
    padding-top: 15px;
}

.noWordBtn:hover{
  color: #3ccfcf;
  background-color: #303545;
}

.bottomBlank{
  height:80px;
  width:80px;
}

.addWordsBtn{
  font-size: 16px;
    background-color: orange;
    border-radius: 3px;
    padding: 8px 10px;
    color: #303545;
    text-align: center;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 20px;
    transition: 0.5s;
}

.upperbtn{
  display: flex;
}

.viewAllBookBtn{
      font-size: 16px;
    background-color: orange;
    border-radius: 3px;
    padding: 8px 10px;
    color: #303545;
    text-align: center;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 20px;
    transition: 0.5s;
}


.wordSub{
  color: #3ccfcf;
  font-weight: 600;
  padding-top: 20px;
  width: 80%;
  margin: auto;
}

.wordCardBox{
  margin: auto;
  width: 80%;
}

#wordBlock{
  border-radius: 3px;
  background-color: #24293c;
  padding: 7px;
  margin: 10px 0 5px;
  border-color: #24293c;
  border-width: 3px;
  border-style: solid;
}

#popWordDetail{
  word-wrap:break-word;
  background-color: #181d30;
  display: block;
  padding: 1px 8px 10px;
}

.pageLeaf{
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  justify-content: center;
}

.page{
  border-radius: 5px;
  background-color: #495278;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  margin: 0px 10px;
  transition: 0.5s;
}

.page:hover{
  background-color: #24293c;
}

.popWordDetailContent{
  font-weight: 100;
}

.popWordDetailTitle{
  margin-top: 10px;
  margin-bottom: 5px;
}

#wordBlock:hover{
  border-bottom-color:orange;
}

#trashCan{
  height: 15px;
}

.bottomPart{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #495278;
  height: 150px;
  align-content: center;
  justify-content: center;
  border-radius: 5px;

}

.takeQuizTitle{
  font-size: 22px;
  

}

.addWordsBtn:hover,.viewAllBookBtn:hover,.takeQuizBtn:hover{
  background-color: #303545;
  color: orange ;
}


@media (max-width: 450px) {

.takeQuizTitle{
  width: 80%;
}

.upperPart{
  flex-direction: column;
}

.upperbtn{
  display: block;
}

.viewAllBookBtn,.addWordsBtn{
  margin: 10px auto;
  width: 70%;
}

}