$background: #0d0e13;
$darkblue: #131a32;

* {
  margin: 0px;
  padding: 0px;
  font-family: verdana, Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

.p5 {
  overflow: hidden;
  width: 100vw;
}

.p5two {
  height: 45vh;
  overflow: hidden;
  width: 100vw;
}

.mktArea {
  position: relative;
  height: 100%;
  width: 90%;
  margin: auto;
  overflow: hidden;
  max-width: 1200px;
}

.homeRippleBtnContainer {
  border-radius: 50px;
  background: orange;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  width: 210px;
  height: 30px;
  line-height: 29px;
  text-align: center;
  color: black;
  letter-spacing: 1px;
  transition: 0.3s;
}

.homeRippleBtnContainer:hover {
  transform: scale(1.05);
}

.rippleCir {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #ffffff;
  display: block;
  border-radius: 50px;
  opacity: 1;
  animation: 1.2s ease 1 forwards ripple-effect;
}

.start {
  position: relative;
  color: black;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  10% {
    transform: scale(10);
    opacity: 0.5;
  }
  30% {
    transform: scale(40);
    opacity: 0.1;
  }
  100% {
    transform: scale(60);
    opacity: 0;
  }
}

.head {
  position: absolute;
  top: 120px;
  left: 5%;
}

.subtitle {
  padding: 30px 0px;
  color: white;
  letter-spacing: 3px;
  line-height: 25px;
  width: 70%;
}

.logoH {
  font-size: 60px;
  color: white;
}

.middle {
  position: absolute;
  left: calc(50% - 60px);
  color: white;
  top: 90%;
}

.head > a:hover {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.head > a:visited {
  text-decoration: none;
  color: black;
}

.head > a {
  text-decoration: none;
  color: black;
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editTitle {
  width: 80px;
  margin: 0 10px;
  height: 60px;
}

.editImg {
  width: 80px;
  height: 60px;
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  display: flex;
  width: 80vw;
  max-width: 1000px;
  overflow: hidden;
}

.flexContainer {
  display: flex;
  flex-flow: row nowrap;
}

.container {
  padding: 100px 0 80px;
  /*   background-color: #f8f8f8; */
  background-color: $background;
}

.arrowLeft {
  width: 30px;
  height: 30px;
  border-top: 3px solid #42b883;
  border-right: 3px solid #42b883;
  cursor: pointer;
  transition: transform 0.15s linear;
  transform: rotate(-135deg);
  margin: 0 10px;
}

.arrowLeft:active {
  transform: rotate(-135deg) scale(0.8);
  border-top: 3px solid #4289b8;
  border-right: 3px solid #4289b8;
}

.arrowRigth {
  width: 30px;
  height: 30px;
  border-top: 3px solid #42b883;
  border-right: 3px solid #42b883;
  cursor: pointer;
  transition: transform 0.15s linear;
  transform: rotate(45deg);
  margin: 0 10px;
}

.arrowRigth:active {
  transform: rotate(45deg) scale(0.8);
  border-top: 3px solid #4289b8;
  border-right: 3px solid #4289b8;
}

.flexContainer > .card {
  height: 200px;
  width: 200px;
  background-color: rgb(183, 233, 181);
  margin: 0 10px;
  border-radius: 5px;
  box-shadow: 0 4px 15px 0 rgba(40, 44, 53, 0.08);
}

.flexContainer > .card:hover {
  background-color: rgba(176, 235, 174, 0.7);
  transform: scale(0.99);
}

.bottomArea {
  height: 43vh;
  /* background: linear-gradient(135deg, #11fa7a 0%,#1b7e7e 100%); */
  background-color: rgb(43, 43, 43);
  position: relative;
  margin: 0 0 50px 0;
}

.journey {
  width: 300px;
  height: 30px;
  background-color: #3a3a3a;
  border-radius: 20px;
  color: white;
  line-height: 30px;
  text-align: center;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 15px);
}

@media (max-width: 500px) {
  .bottomArea {
    height: 450px;
  }

  .head {
    width: 80%;
    top: 150px;
  }

  /*  .start{
    margin: 0;
    color: black;
    transition: 0.5s;
} */

  /* .mktArea{
  height: 450px;
 } */

  .journey {
    width: 250px;
    left: calc(50% - 125px);
    top: calc(50% - 15px);
  }
}
