

.logInComtainer{
  background-color: rgb(187, 187, 187);
}


.logInBack{
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100%;
  height: 1373px;
}

@media (max-width: 500px) {





}
