
.bookIDpop{
  top: 20%;
  position: absolute;
  left: 40%;
}



.optionDrop{
  padding: 10px;
  font-size: 23px;
}

.quizOption{
      background-color: rgb(43, 39, 39);
    cursor: grab;
    color: white;

}



.answerDrop{
  height: 50px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  width: 300px;

}


.bookIDpop{
    background-color: #24293c;
    height: 400px;
    width: 300px;
    left: calc(50% - 150px);
    border-radius: 5px;
}


.bookSelect{
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    width: 280px;
}

.bookIDpopBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookIDpopTitle{
      padding-top: 20px;
    font-size: 25px;
}

.bookIDpopSubtitle{
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
}

.bookPopSend{
  padding: 5px 10px;
    background-color: orange;
    color: #24293c;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 60px;
    width: 100px;
    text-align: center;
}

.bookPopCreateWording{
  margin-top: 80px;
}

.tutorPop{
      display: block;
    background-color: #24293c;
    height: 400px;
    width: 300px;
    left: calc(50% - 150px);
    border-radius: 5px;
    top: 20%;
    position: absolute;
}

.tutorPopBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tutorPopTitle{
  padding-top: 20px;
    font-size: 25px;
}

.tutorPopSubtitle{
  font-size: 20px;
    padding-top: 10px;
    text-align: center;
}



.tutorPopBox>img{
  width: 100%;
  padding: 10px 0 20px;
}

.tutorPopBtn{
    padding: 5px 10px;
    background-color: orange;
    color: #24293c;
    border-radius: 5px;
    font-size: 18px;
    width: 100px;
    text-align: center;
}

.bookPopCreate{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: underline;
    font-weight: 500;
}

.bookSelect{
      margin-top: 50px;
}

.endQuiz{
  color:white;
}

.enterPop{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 0px;
    color: white;
    position: fixed;
}

.usableWords{
      margin-top: 80px;
    text-align: center;
    font-size: 18px;
}

.usableWordsWording{
  display: block;
    text-align: center;
    font-weight: 100;
    margin-top: 10px;
}

.usableWordsCreate{
  padding: 5px 10px;
    background-color: orange;
    color: #24293c;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px auto;
    width: 100px;
    text-align: center;
    
}

.quizContainer{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic-container{
    background-color: #24293c;
    width: 600px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.topic-container>div{
    display: flex;
    font-size: 25px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-container>div>div{
  font-size: 25px;
  margin-right: 10px;
  min-height: 30px;
}

.answerDrop{
  border-color: white;
  border-width: 2px;
  border-style: solid;
  width: 150px;
  background-color: #24293c;
  height: auto;
}

.questionBlock{
      display: flex;
    justify-content: space-between;
    background-color: #24293c;
    padding: 10px 15px;
    align-items: center;
}

.questionTitle{
  font-size: 20px;
}

.optionArea{
  width: 600px;
  display: flex;
      flex-direction: column;
}

.optionBlock{
    display: flex;
    justify-content: center;
    background-color: #4d5165;
    padding: 10px 15px;
    align-items: center;
   
}

.bookIDpopBtn{
  color: #3ccfcf;
    font-weight: 600;
    padding: 20px;
}



.optionDrop{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.btnBlock{
  display: flex;
    width: 600px;
    justify-content: center;
    padding-top: 50px;
}

.next,.send,.end-quiz{
      font-size: 16px;
    background-color: orange;
    border-radius: 3px;
    padding: 8px 10px;
    color: #303545;
    text-align: center;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 20px;
    transition: 0.5s;
    width: 150px;
}

.end-quiz{
  background-color: #3ccfcf;
}

.next:hover,.send:hover,.end-quiz:hover{
  background-color: #303545;
  color: orange;
}


.quizOption{
      line-height: 30px;
    text-align: center;
    cursor: grab;
    color: white;
    height: 30px;
    margin: 5px;
    font-size: 22px;
    padding: 5px 10px;
  }

.optionSubTitle{
      font-weight: 800;
}