$background: #1a1d28;
$darkblue: #131a32;

* {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

*:focus {
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

.menuBtn {
  color: white;
  margin: 0 13px;
  cursor: pointer;
}

.menuItem {
  margin-right: 20px;
}

.content {
  min-height: 100vh;
  margin: 0 auto -10px;
  background-color: #0d0e13;
  padding: 0px;
}

.navRippleBtnContainer {
  width: 100px;
  height: 30px;
  border-bottom-style: solid;
  border-bottom-color: #0d0e13;
  border-bottom-width: 5px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 1s;
}

.menuPopFirstRippleBtnContainer,
.menuPopSecondRippleBtnContainer,
.homeMemLogRippleBtnContainer {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.menuPopFirstRippleBtnContainer:hover,
.menuPopSecondRippleBtnContainer:hover,
.memPop > div:hover {
  font-weight: 500;
}

.memberImgFrame {
  transition: 0.3s;
}

.memberImgFrame:hover {
  transform: scale(1.05);
}

.navRippleBtnContainer:hover {
  animation: type 0.2s steps(10) forwards;
}

.decolineLog:hover {
  white-space: nowrap;
  overflow: hidden;
  animation: type 0.2s steps(10) forwards;
  -moz-animation: type 0.2s steps(10) forwards;
  -webkit-animation: type 0.2s steps(10) forwards;
}

@keyframes type {
  0% {
    border-bottom-color: #0d0e13;
  }
  100% {
    border-bottom-color: orange;
  }
}

.navBox {
  background-color: #0d0e13;
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.menu {
  display: flex;
  color: white;
  width: 40%;
}

.rippleBtnContainer {
  border-radius: 50px;
  background: orange;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  width: 210px;
  height: 30px;
  line-height: 31px;
  text-align: center;
  color: black;
  letter-spacing: 1px;
  transition: 1s;
}

.decolineLog {
  height: 32px;
  width: 120px;
  position: absolute;
  top: 20px;
  border-bottom-style: solid;
  border-bottom-color: orange;
  border-bottom-width: 0px;
}

.decolineLog:hover {
  white-space: nowrap;
  overflow: hidden;
  animation: type 0.2s steps(10) forwards;
}

.memberImgFrame {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.memberImg {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  border-color: white;
  border-style: solid;
  margin: auto;
  color: white;
  background: #19295e;
  text-align: center;
  line-height: 25px;
  position: relative;
}

.memberImgWord {
  color: rgb(40, 40, 40);
  margin: 0 3px 0 10px;
  line-height: 30px;
  position: relative;
}

.memberImgWord:hover {
  color: rgb(72, 72, 72);
  transition: 0.5s;
}

.memberLogin {
  color: white;
}

.memberLogImg {
  display: none;
}

.menuHam {
  display: none;
  cursor: pointer;
}

.member {
  display: flex;
  width: 40%;
  justify-content: flex-end;
}

.memberFrame {
  display: flex;
}

.memberImgFrame {
  display: flex;
}

.share {
  padding-bottom: 20px;
}

.logo {
  font-size: 35px;
  color: white;
  padding: 20px 0;
  cursor: pointer;
}

.memPop {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10vw;
  top: 80px;
  background-color: #e4e4e4;
  z-index: 10;
  border-radius: 10px;
  padding: 10px 0;
  cursor: pointer;
}

.menuPop {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 9vw;
  top: 80px;
  background-color: #e4e4e4;
  /* box-shadow: 2px 2px 5px rgb(213, 213, 213); */
  z-index: 10;
  border-radius: 10px;
  padding: 10px 0;
  cursor: pointer;
}

.trianglePop {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 30px 10px;
  border-color: transparent transparent #e4e4e4 transparent;
  position: absolute;
  right: 12vw;
  top: 60px;
  z-index: 15;
}

.trianglePopMenu {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 30px 10px;
  border-color: transparent transparent #e4e4e4 transparent;
  position: absolute;
  left: 10vw;
  top: 55px;
  z-index: 15;
}

.memPop div,
.signOut,
.menuPop > div {
  color: rgb(43, 43, 43);
  text-align: center;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  line-height: 40px;
}

.memPop a:hover,
.signOut:hover,
.menuPop a:hover {
  color: rgb(72, 72, 72);
  transition: 0.5s;
}

.tri {
  border-style: solid;
  border-width: 15px 20px 0 20px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  left: calc(50% - 15px);
  bottom: 0px;
}

@media (max-width: 1000px) {
  .menuHam {
    display: block;
    height: 20px;
  }

  .navRippleBtnContainer {
    display: none;
  }

  .menuItem {
    display: none;
  }

  .memberImgWord {
    display: none;
  }

  .memberImgFrame {
    width: 30px;
    border-width: 3px;
  }

  .memberImg {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }

  .triangle {
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #ffffff transparent transparent transparent;
    margin-top: 15px;
    margin-left: 5px;
  }

  .memberLogin {
    display: none;
  }

  .memberLogImg {
    display: block;
    height: 35px;
  }

  .memLoginFrame {
    display: flex;
  }
}
