

.color{
  width:200px;
  height:10px;
  background: linear-gradient(to right, #24293c 0%, #ffffff 100%)
  
}

.svgContainer>div{
  display:flex;
  width: 100%;
  margin: auto;
  
}

.statistics{
  padding: 50px 0 80px;
}

.bottomPart{
  color: white  !important;
  max-width: 700px !important;
    width: 60%  !important;
    margin-top: 70px  !important;
}


.svgContainer>div>svg:first-child{
  margin: auto;
}

.svgContainer>div>svg:not(:first-child){
  display: none;
}

.colorBar{
  margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorStart,.colorEnd{
  color: white;
    padding: 0 5px;
}

.timeSelector{
  color: white;
  display: flex;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.minus,.plus{
    text-align: center;
    margin: 0 15px;
    border-radius: 5px;
    background-color: #495278;
    color: white;
    height: 30px;
    line-height: 30px;
    width: 40px;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
}

.minus:hover,.plus:hover{
  background-color: white;
  color: #495278;
}

.timeBlock{
      display: flex;
    min-width: 400px;
    justify-content: center;
}

.statisTitle{
  font-weight: 800;
    color: #3ccfcf;
    text-align: center;
    margin: 10px;
}

.statisSubHour{
      color: white;
  position: absolute;
    right: 10%;
    top: -10px;
}


.statisBox{
  max-width: 900px;
    position: relative;
    width: 80%;
}

@media (max-width: 1100px) {

  .statisBox{
    width: 100%;
  }

  .statisSubHour{
    right: 50px;
    top: -10px;
  }



}




@media (max-width: 1000px) {

  .svgContainer > div{
    width: 100%;
  }


}

@media (max-width: 765px) {

  .svgContainer > div{
    width: 100%;
  }

  .statistics{
    display:none;
  }

}