.myBookBlock, .saveBookBlock{
  width: 80%;
  margin: auto;
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.myBookRender, .saveBookRender{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.saveBookRender{
  margin: -110px;
}




.popBookBlock{
  display:flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 0;
  max-width: 1000px;
  padding: 0px 0px 80px;
}

.renderSearchData, .getPopData{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  
}

.toggleOption{
  color:white;
}

.wordbookImg, .wordbookN{
  color:white;
}

.wordbookImg{
  background-color: #19295e;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 100px;
  font-size: 100px;
  border-width: 2px;
  border-style: solid;
  margin-right: 45px;
  border-color: #646f90;
  font-weight: 100;
}

.addbookTopArea{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.wordbookN{
  font-size: 45px;
  padding-bottom: 15px;
}

.noBookTitle,.noLikedTitle{
  color: white;
  font-size: 30px;
}

.noBookSubtitle,.noLikedSubtitle{
  color: white;
  font-weight: 200;
  padding-top: 15px;
}

.noBookBtn{
  color: #303545;
  margin-top: 30px;
  background-color: orange;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
}

.bookSend{
  color: orange;
  margin-top: 30px;
  background-color: #303545;
  height: 40px;
  width: 200px;
  border-radius: 3px;
  text-align: center;
  border-style: none;
  position: absolute;
  right: 10px;
  bottom: 15px;
  cursor:pointer;
  font-size: 16px;
}

.newBookHide{
  background-color: orange;
  width: 280px;
  height: 180px;
  border-radius: 5px;
  margin: 20px auto;
  position: relative;
  border-style: solid;
  border-width: 5px;
  border-color: orange;
  transition: 0.3s;
  cursor: pointer;
}


.bookEnter{
  width: 230px;
  position: absolute;
  background-color: rgb(0,0,0,0);
  border-width: 0px;
  top: 50px;
  left: 30px;
  border-bottom-width: 2px;
  border-bottom-color: #303545;
}

.noBookInfor,.noLikedInfor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.addbookpop{
  display: block;
  background-color: rgb(48, 53, 69);
  height: 120px;
  width: 650px;
  border-radius: 8px;
  margin-top: 45px;
  position: relative;
}

.addbookpopEnter{
  color: white;
  width: 400px;
  border-style: none;
  background-color: rgb(0,0,0,0);
  border-bottom-color: white;
  border-bottom-style: solid;
  letter-spacing: 1px;
  position: absolute;
  left: 60px;
  top: 50px;
  font-size: 16px;
}

.addbookpopSend{
  border-style: none;
  background-color: #13141b;
  padding: 5px 10px;
  border-radius: 3px;
  position: absolute;
  left: 480px;
  top: 45px;
  color: white;
  font-size: 16px;
}

.addbookpopEnter:focus{
  border-bottom-color: orange;
}

.addbookpopX{
  color: white;
  position: absolute;
  right: 15px;
  top: 10px;
}


.newBookHide:hover{
  border-bottom-color: #646f90;
}

.newBookShow{
  background-color: #646f90;
  width: 280px;
  height: 180px;
  border-radius: 5px;
  margin: 20px auto;
  position: relative;
  border-style: solid;
  border-width: 5px;
  border-color: #646f90;
  transition: 0.3s;
  cursor: pointer;
}

.newBookShow:hover{
  border-bottom-color: orange;
}



.toggleContainer{
  //border-radius: 4px;
  display: flex;
  border-color: #646f90;
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
}

.toggleOption{
  padding: 10px;
  transform:0.5s;

  /* background-color: #303545; */
}

.addbookTopArea{
  padding-top: 50px;
}



.mainTitle{
  text-align: center;
  padding:25px 0 0;
  margin: 25px auto 10px;
  font-size: 22px;
  letter-spacing: 5px;
  width: 80%;
  max-width: 1000px;
  display:none;
}

.mainTitle:first-child{
  border-top-width: 0px;
}

.bookformat{
  background-color: #24293c;
  width: 280px;
  height: 180px;
  border-radius: 5px;
  margin: 20px auto;
  position: relative;
  border-style: solid;
  border-width: 5px;
  border-color: #24293c;  
  transition:0.3s;
  cursor: pointer;
}

.bookformat:hover{
  border-bottom-color: orange;
}

.likedSubtitle{
  color: white;
  font-weight: 200;
  display: block;
  text-align: center;
  padding-top: 60px;
}



.searchTitle, .bookSearchFrame{
  text-align: center;
  margin: 30px auto;
}

.bookSearchFrame{
  text-align: center;
  margin: 30px auto;
  border-color: white;
  border-style: solid;
  width: 300px;
  border-width: 1px;
  border-radius: 20px;
  padding: 3px;
}

.searchImg{
  width: 20px;
  padding-top: 4px;
  position: relative;
  top: 3px;
}

.searchBook{
  background-color: #24293c;
    width: 280px;
    height: 180px;
    border-radius: 5px;
    margin: 20px auto;
    position: relative;
    border-style: solid;
    border-width: 5px;
    border-color: #24293c;
    transition: 0.3s;
    cursor: pointer;
}

.bookformat:hover{
    border-bottom-color: orange;
}

.viewBookBtn{
  font-size: 16px;
  background-color: orange;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px;
  color: #303545;
  text-align: center;
  position: absolute;
  bottom: 15px;
  right: 10px;
  cursor: pointer;
}

.bookSearch{
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  border-top-style: none;
  background-color: rgba(0, 0, 0, 0);
  width: 250px;
  color: white;
  font-size: 16px;
  line-height: 16px;
  height: 30px;
}



.bookSearchSend{
  margin: 0 5px;
  letter-spacing: 3px;
}

.bookTitle,.searchResultTitle{
  font-size: 18px;
  width: 85%;
  margin: 10px auto 10px;
  color: white;
  line-height: 30px;
}

.searchResultTitle{
  margin: 10px auto 5px;
}

.searchAuthor{
  font-size: 16px;
  color: white;
  font-size: 16px;
  margin: 0 20px;
  font-weight: 300;
}


.bookStar{
  padding: 5px 0;
  color: white;
  font-size: 16px;
  margin: 0 20px;
  font-weight: 300;
}

.bookBtnPlus{
  font-size: 16px;
  background-color: orange;
  width: 150px;
  border-radius: 3px;
  padding: 10px 15px;
  color: #303545;
  text-align: center;
  position: absolute;
  bottom: 15px;
  right: 10px;
  cursor: pointer;
}

.bookBtnView{
  font-size: 16px;
  background-color: orange;
  width: 70px;
  border-radius: 3px;
  padding: 5px;
  color: #303545;
  text-align: center;
  position: absolute;
  bottom: 15px;
  right: 140px;
  cursor: pointer;
}

.bookBtn,.saveBookBtn{
  position: absolute;
    bottom: 30px;
    left: calc(50% - 125px);
    height: 30px;
    width: 250px;
    background-color: #3a3a3a;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}

.bookBtn{
  line-height: 30px;
}

.searchHintTitle{
  color: rgb(119, 221, 221);
  font-weight: 800;
  padding-left: 20px;

}

.noSreachResult{
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

.searchHintTitle:last-child{
  padding-top:20px;
}

.saveBookRender{
      margin-left: 0px;
    margin-right: 0px;
}



.addBookTitle{
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 70px;
}

/* .addbookDecor{
  border-bottom-color: orange;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  width: 220px;
  margin-top: 70px;
  margin-left: 30px;
  transition: 0.3s;
}

.addbookDecor:hover{
  border-bottom-width: 5px;
} */

.addBookTitle{
  color: white;
  font-size: 20px;
  text-align: center;
}


//==============
@media (max-width: 1200px) {

.bookformat{
  height: 300px;    
}

.myBookRender, .saveBookRender{
  grid-template-columns: 50% 50%;
}

.renderSearchData, .getPopData{
  grid-template-columns: 50% 50%;
}
}

.bookAuthor{
    font-size: 20px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.bookStar{
  padding: 5px 0;
}

//==============
@media (max-width: 1000px) {

.bookformat {
    height: 250px;
}

.myBookRender, .saveBookRender{
  grid-template-columns: 100%;
}

.renderSearchData, .getPopData{
  grid-template-columns: 100%;
}


}

//==============

@media (max-width: 500px) {

  .bookBtn{
  width: 150px;
  left: calc(50% - 75px);
  }

  .bookTitle,.searchResultTitle{
  width: 80%;
  text-align: center;
  margin: 10px auto 10px;
}



}
